# dependencies
/node_modules/

# production build
/dist/

# local environment variables
.env
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS system files
.DS_Store
Thumbs.db

# Optional: macOS/Linux trash
.Trash-*

# Optional: local testing tools or configurations
*.local
*.log

# Optional: coverage directory for testing
/coverage/

# Optional: if you use TypeScript
*.tsbuildinfo

# temporary
/mongo-data/

# /mongo-data/diagnostic.data/
# /mongo-data/journal/
# /mongo-data/WiredTiger
# /mongo-data/WiredTiger.lock